* {
    padding: 0;
    margin: 0;
}

.body {
    background: black;
    min-height: 100vh;
    background-size: 100vw 100vh;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
}

#scoreBox {
    position: absolute;
    top: 66px;
    font-size: 39px;
    color: rgb(100, 170, 30);
    font-weight: bold;
}

#board {
    margin-top: 5%;
    background: url(background4.png);
    background-size: cover;
    background-position-x: center;
    background-position-y: center;
    width: 85vmin;
    height: 75vmin;
    border: 2px solid black;
    display: grid;
    grid-template-rows: repeat(16, 1fr);
    grid-template-columns: repeat(16, 1fr);
}

.head {
    background: url(head.png);
    background-color: rgb(238, 253, 23);
    background-size: cover;
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: center;
    border: 1px solid rgb(72, 124, 19);
    transform: scale(1.2);
    border-radius: 12px;
}

.snake {
    background-color: rgb(238, 253, 23);
    border: .25vmin solid rgb(72, 124, 19);
    border-radius: 12px;
}

.food {
    background: url(food.png);
    background-size: cover;
    background-position-x: center;
    background-position-y: center;
    border-radius: 8px;

}